{% include "layouts/base.html" %} {% block content %}
<div class="main-container show">
  <div class="stream-area">
    <div class="video-stream">
      <video
        id="my_video_1"
        class="video-js vjs-default-skin anim"
        width="640px"
        height="267px"
        controls
        preload="metadata"
        data-setup='{ "aspectRatio":"940:620", "playbackRates": [1, 1.5, 2] }'
      >
        <source src="../static/videos/demo.MOV" type="video/mp4" />
      </video>
      <div class="video-detail">
        <div class="video-content">
          <div class="video-p-wrapper anim" style="--delay: 0.1s"></div>
          <div class="video-p-title anim" style="--delay: 0.2s">
            How to use Digi?
          </div>
          <div class="video-p-subtitle anim" style="--delay: 0.3s">
            Using Digi is simple and user-friendly, designed to make your
            journey in digital banking as smooth as possible. Here’s a quick
            guide on how to get started:
          </div>

          <div class="video-p-subtitle anim" style="--delay: 0.3s">
            <ol>
              <li>
                <strong>Start a Conversation:</strong> Open Digi on our website
                or app by clicking the chat icon.
              </li>
              <li>
                <strong>Choose Your Language:</strong> Select your preferred
                language for a seamless experience.
              </li>
              <li>
                <strong>Ask a Question:</strong> Ask Digi anything about online
                banking—from setting up an account to learning safe practices.
              </li>
              <li>
                <strong>Follow Step-by-Step Guidance:</strong> Digi provides
                clear instructions for online banking tasks, making it easy to
                follow along.
              </li>
              <li>
                <strong>Practice Scenarios:</strong> Build confidence by trying
                out real-life banking scenarios, like transferring money.
              </li>
              <li>
                <strong>Learn About Security:</strong> Get practical tips to
                understand online security and bank with confidence.
              </li>
              <li>
                <strong>Get Assistance Anytime:</strong> Digi is available 24/7
                and can connect you to additional resources for further
                learning.
              </li>
            </ol>
            If you need more information, Digi can also guide you to relevant
            resources for further learning. Digi is your personal guide to
            mastering digital financial skills, helping you gain the confidence
            you need to navigate online banking with ease and security. Start
            your journey with Digi today!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
